<footer class="site-footer">
  <style>
    .contact-list img{
      height: 20px;
      margin-right: 5px;
    }
    .social-media-list img{
      height: 20px;
      margin-right: 5px;
    }
  </style>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><img src="{{site.baseurl}}/assets/email.png"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
            {% if site.wechat %}
            <li><img src="{{site.baseurl}}/assets/wx.png"><a>{{ site.wechat }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>COMMUNITY</li>
          {% for item in site.moreSite %}
            <li><img src="{{site.baseurl}}{{item.icon}}"><a href="{{item.href}}" target="_blank">{{item.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>MORE</li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <li>update at: {{site.time|date: date_format}}</li>
        </ul>
      </div>

    </div>

  </div>

</footer>
